<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.8/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/app.css}">
    <title>Operatori</title>
</head>
<body>
    <nav th:replace="~{navbar :: navbar('Operatori')}"></nav> 
    <div class="container py-4">

        <h1>Operatori</h1>
        <hr />
        <form method="get" action="/operatori">
            <input type="text" name="keyword" placeholder="Cerca per codice">
            <button type="submit" class="btn btn-primary mt-2">Cerca</button>
        </form>
        <!-- Lista operatori -->
        <div th:each="oper : ${operatori}" class="mb-5">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title" th:text="|Operatore ${oper.codice}"></h5>
                    <div class="card-text">
                        <div><strong>Codice:</strong> <span th:text="${oper.codice}"></span></div>
                        <div><strong>Email:</strong> <span th:text="${oper.mail}"></span></div>
                        <div><strong>Stato:</strong> <span th:text ="${oper.stato}"></span></div>
                        <div><strong>Numero di ticket assegnati:</strong> <span th:text="${oper.tickets.size()}"></span></div>
                        <a class="btn btn-primary mt-2" th:href="@{/operatori/show/{id}(id=${oper.id})}">Dettagli</a>
                    </div>
                </div>
            </div>

            <!-- Tabella ticket assegnati -->
            <h4 th:text="|Ticket assegnati all'operatore ${oper.codice}"></h4>
            <table class="table table-striped" th:if="${oper.tickets.size() > 0}">
                <thead>
                    <tr>
                        <th>Titolo</th>
                        <th>Descrizione</th>
                        <th>Stato</th>
                        <th>Categoria</th>
                        <th>Dettagli</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="ticket : ${oper.tickets}">
                        <td th:text="${ticket.titolo}"></td>
                        <td th:text="${ticket.descrizione}"></td>
                        <td th:text="${ticket.stato}"></td>
                        <td th:text="${ticket.categoria.nome}"></td>
                        <td>
                            <a class="btn btn-primary btn-sm" th:href="@{|/tickets/show/${ticket.id}|}">Visualizza</a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="alert alert-info" th:unless="${oper.tickets.size() > 0}">
                Nessun ticket assegnato a questo operatore
            </div>
        </div>
    </div>

    <script th:src="@{/webjars/bootstrap/5.3.8/js/bootstrap.bundle.min.js}"></script>
</body>
</html>